/* You can add global styles to this file, and also import other style files */

:root{
    --colorBlue: #1E2E70;
    --colorWhiteBone: #EFF5FA;
    --colorRed: #FF062A;
    --colorGray: #FF062A;
}
html{
    scroll-padding-top: 100px;
}

.separator{
    height: 200px;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(239, 246, 255);
}

.btn-red{
    background-color: #ff062a;
    color: white;
    border-radius: 16px;
    font-weight: 600;
}
.txt-description{
    color: #9fa1a8;
}
.section-container{
    width: 100vw;
}

form{
    width: 50%;
}