<div class="section-container">
    <div class="separator program">
        <h2>PROGRAMA</h2>
    </div>
    <div class="inscriptions">
        <button class="btn btn-red mb-5">Descargar programa del curso</button>
        <h2>INSCRIPCIONES</h2>
        <p class="txt-description">Registra tus datos para obtener información de pago y acceso al evento</p>

        <form action="">
            <div class="mb-3">
                <label for="full-name" class="form-label">Nombre completo</label>
                <input [(ngModel)]="this.body.full_name" type="text" class="form-control" id="full-name" placeholder="Introduce tu nombre" name="full_name">
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input [(ngModel)]="this.body.email" type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
                </div>
                <div class="col-6 mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input [(ngModel)]="this.body.password" type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <select [(ngModel)]="this.body.profile_type" class="form-select mb-3" aria-label="Default select example" style="cursor: pointer;" name="profileType">
                <option [ngValue]="null">Selecciona una categoría</option>
                <option value="Socios">Socios</option>
                <option value="Médicos (no socios)">Médicos (no socios)</option>
                <option value="Otros profesionales y residentes">Otros profesionales y residentes</option>
              </select>
              <div class="row ps-3 mb-3">
                <div class="form-check col-auto" style="cursor: pointer;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Inscripción" (change)="setContactType('Inscripción')" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                      Inscripción
                    </label>
                  </div>
                  <div class="form-check col-auto" style="cursor: pointer;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="Otro" (change)="setContactType('Otro')">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Otro (información)
                    </label>
                  </div>
              </div>
              <p class="txt-description mb-4">
                *Después de su registro, automáticamente a su correo llegará un mensaje confirmando su inscripción, favor revisar todas sus bandejas incluída la de correo no deseado. Si tiene alguna duda o dificultad técnica puede escribirnos al correo apenuela88@gmail.com o al whatsapp: +573113031720
              </p>
              <btn-container class="d-flex justify-content-center">
                  <button class="btn btn-red mb-5" (click)="this.register()">Registrarme</button>
              </btn-container>
        </form>

        <p class="pagos">Modalidad de pago: transferencias a la cuenta de SOCHIVAS<br>
          Nota: se solicita enviar comprobante de la transferencia a ecco@eccochile.cl.
        </p>
    </div>
</div>