<div class="sponsors-container">
    <div class="separator">
        <h2>AUSPICIADORES</h2>
    </div>
    <div class="sponsors">
        <div class="top-sponsors">
            <img class="img-sponsor" src="assets/images/BOEHRINGER.png" alt="">
            <img class="img-sponsor" src="assets/images/FRIMED.png" alt="">
        </div>
        <div class="bottom-sponsors">
            <img class="img-sponsor" src="assets/images/METRONIC.png" alt="">
            <img class="img-sponsor" src="assets/images/CICLOMED.png" alt="">
        </div>
    </div>

</div>
